<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Please query for dishes here</h1>
  <!-- <div>{{data}}</div> -->

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  <div>
    <form method="POST" action="/food">
      <label for="dietTag">Choose a dietary option:</label>
      <select name="dietTag" id="dietTag">
        <option value=""></option>
        {% for n in tag_data %}
        <option>{{n}}</option>
        {% endfor %}
      </select>

      <label cuisine="cars">Choose a cuisine:</label>
      <select name="cuisine" id="cuisine">
        <option value=""></option>
        {% for n in cuisine_data %}
        <option>{{n}}</option>
        {% endfor %} 
      </select>

      <label for="rname">Restaurant Name</label>
      <input type="text" id="rname" name="rname"><br><br>
      <label for="lname">Dish Name</label>
      <input type="text" id="dname" name="dname"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <!-- <div>
    <label for="cars">Choose a Restaurant:</label>
    <select name="restaurants" id="restaurants">
      <option value=""></option>
      {% for n in data %}
      <option>{{n}}</option>
      {% endfor %}
        
    </select>
  </div> -->

<!-- <p><a href="another">Go to the other page</a></p> -->

<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>
 -->

</body>


</html>
