<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <p>Signin as Customer</p>
  <form method="POST" action="/customer">
    <label for="si_customer_name">Username:</label>
    <input type="si_customer_name" id="si_customer_name" name="si_customer_name"><br><br>
    <input type="submit">
  </form>


  <p>Signin as Owner</p>
  <form method="POST" action="/owner">
    <label for="si_owner_name">Username:</label>
    <input type="si_owner_name" id="si_owner_name" name="si_owner_name"><br><br>
    <input type="submit">
  </form>

  <!-- <p>Signup as Customer</p>
  <form method="POST" action="/customer">
    <label for="su_customer_id">Username:</label>
    <input type="su_customer_id" id="su_customer_id" name="su_customer_id"><br><br>
    <input type="submit">
  </form>

  <p>Signup as Customer</p>
  <form method="POST" action="/owner">
    <label for="su_owner_id">Username:</label>
    <input type="su_owner_id" id="su_owner_id" name="su_owner_id"><br><br>
    <input type="submit">
  </form> -->



<!-- 
<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->


</body>


</html>
