<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .name{
      font-size: 15pt;
      font-family: arial;
      color: blue
    }
    .desc{
      font-size: 15pt;
      font-family: arial;
      color: green
    }
    .price{
      font-size: 15pt;
      font-family: arial;
      color: maroon
    }
  </style>

<body>
  <h2>These are the items you have ordered</h2>
  <table>
    <tr>
      <th>Item name</th>
      <th>Price per item</th>
      <th>Quantity</th>
      <th>Restaurant name</th>
    </tr>
    {% for n in order_data %}
      <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
        <td>{{n[3]}}</td>
        <td>{{n[2]}}</td>
      </tr>
  {% endfor %}
  </table>
  

</body>


</html>
