<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .name{
      font-size: 15pt;
      font-family: arial;
      color: blue
    }
    .desc{
      font-size: 15pt;
      font-family: arial;
      color: green
    }
    .price{
      font-size: 15pt;
      font-family: arial;
      color: maroon
    }
  </style>


<body>
  <h1>Restaurant Name</h1>
  <!-- <div>{{cuisine_data}}</div> -->
  <h2>Menu</h2>
  <div>
    {% for n in restaurant_items_data %}
      <div>
        <span class="name">{{n[0]}}</span>
        <span class="desc">{{n[1]}}</span>
        <span class="price">{{n[2]}}</span>
      </div>
    
    {% endfor %}
  </div>

  <h2>Reviews</h2>
  <div>
    {% for n in restaurant_reviews_data %}
      <div>
        <span>{{n}}</span>
      </div>
    
    {% endfor %}
  </div>
  <h2>Add a review</h2>
  <div>
    <form method="post" action="/restaurant/add_review">
      <input type="textarea" id="review" name="review"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <h2>Create a reservation</h2>
  <!-- <form method="post" action="/restaurant/add_reservation">
    <input type="textarea" id="review" name="review"><br><br>
    <input type="submit" value="Submit">
  </form> -->
  <form method="post" action="/restaurant/add_reservation">
    <label for="Date">Date</label>
    <input type="date" id="reservation_date" name="reservation_date" required>
    <label for="Time">Time</label>
    <input type="time" id="reservation_time" name="reservation_time" required>
    <!-- <label for="Time">Date/Time</label>
    <input type="datetime" name="reservation_datetime" name="reservation_datetime" required> -->
    <label for="Guests">Guests</label>
    <input type="number" id="guests" name="guests" min="1" max="10">
    <input type="submit">
  </form>


<!-- <p><a href="another">Go to the other page</a></p> -->

<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->


</body>


</html>
